<a
  style="cursor: pointer;"
  [routerLink]="[recipe.id]"
  routerLinkActive="active"
  class="list-group-item d-flex justify-content-between align-items-start position-relative">
  <div class="ms-2 me-auto">
    <div class="d-flex align-items-center mb-1">
      <h4 class="fw-bold mb-0">{{ recipe.name }}</h4>
      <span class="badge ms-2" [class.bg-primary]="!recipe.isPersonal" [class.bg-success]="recipe.isPersonal">
        {{ recipe.isPersonal ? 'Personal' : 'Collected' }}
      </span>
    </div>
    <p class="mb-0">{{ recipe.description }}</p>
  </div>
  <span>
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-fluid"
      style="max-height: 50px;">
  </span>
</a>
