<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Recipe Management Dashboard</h2>
      <hr>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <button class="btn btn-success me-2" (click)="onNewRecipe()">
            <i class="bi bi-plus-circle"></i> Add New Recipe
          </button>
          <button class="btn btn-primary" (click)="onSaveAll()">
            <i class="bi bi-cloud-upload"></i> Save All Recipes
          </button>
        </div>
        <div>
          <button class="btn btn-outline-secondary" (click)="onFetchRecipes()">
            <i class="bi bi-arrow-clockwise"></i> Refresh List
          </button>
        </div>
      </div>
    </div>
  </div>

 
  <!-- Display current recipes -->
  <div class="row">
    <div class="col-md-12">
      <app-recipe-list [recipes]="feedRecipes"></app-recipe-list>
    </div>
  </div>
</div>
